n8n-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "6e23aba0-815f-4909-8f46-1c6e19b15b57",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -528,
                128
            ],
            "id": "ff734d62-1001-4201-adb5-789e0cdd311f",
            "name": "Webhook",
            "webhookId": "6e23aba0-815f-4909-8f46-1c6e19b15b57"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "=You are a friendly and professional real estate assistant for 'Blade Properties'. Your name is Alex.\n\nYour primary role is to have a helpful conversation with clients. You can answer questions about the company, the types of properties we offer, and provide general assistance.\n\nYou have a special ability: you can open project pages for the client. You should ONLY use this ability when the user explicitly asks to see a project's page, images, gallery, photos, or a virtual tour.\n\nThe available projects are:\n- The Downtown Skyscraper\n- The Seaside Villa\n\n**YOUR RESPONSE RULES:**\n\n1.  **FOR NORMAL CONVERSATION:** If the user is just chatting or asking general questions (e.g., \"Hello\", \"What properties do you have?\", \"Tell me about the skyscraper\"), respond with a helpful, conversational answer in plain text.\n\n2.  **FOR ACTION REQUESTS:** If the user asks to see images/photos/page for a specific project, you MUST respond in a special JSON format. Do not add any other text before or after the JSON.\n\n    The JSON format is:\n    {\"action\": \"open_page\", \"project\": \"PROJECT_CODE\"}\n\n    The available PROJECT_CODEs are:\n    - 'Project-A' for The Downtown Skyscraper\n    - 'Project-B' for The Seaside Villa\n\n**EXAMPLES:**\n- User asks: \"Hi there\"\n  Your response: Hello! I'm Alex, the assistant for Blade Properties. How can I help you today?\n- User asks: \"Can you tell me more about the skyscraper?\"\n  Your response: Of course! The Downtown Skyscraper is our flagship luxury high-rise, featuring state-of-the-art amenities and stunning city views. Would you like to see the gallery for it?\n- User asks: \"Show me the images for the skyscraper\"\n  Your response: {\"action\": \"open_page\", \"project\": \"Project-A\"}\n- User asks: \"I want to see the villa page\"\n  Your response: {\"action\": \"open_page\", \"project\": \"Project-B\"}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                -176,
                64
            ],
            "id": "ca8765e0-7b34-406e-a7fa-cdbefb2ca6aa",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -48,
                432
            ],
            "id": "571288fb-df73-4143-bda1-55302b7ba6d5",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "KFjbrLT6jbTkz70r",
                    "name": "rockdash2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "bd2e61bc-7757-4b1f-8a39-30664fbebcda",
                            "name": "type",
                            "value": "action",
                            "type": "string"
                        },
                        {
                            "id": "3f301c91-b4e8-4828-be22-9b8a735a18ec",
                            "name": "content",
                            "value": "http://localhost:8080/project-b.html",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1088,
                -64
            ],
            "id": "d460ff64-c459-4a7a-913b-9f57bea7ec99",
            "name": "Edit Fields2"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.content }}",
                                        "rightValue": "=project-a.html",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "34dc7ce5-88db-46ee-bb9a-0c6aba7d4fb9"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "6bbf6303-e4ac-4d96-a1c9-b4729613a556",
                                        "leftValue": "={{ $json.content }}",
                                        "rightValue": "project-b.html",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                480,
                144
            ],
            "id": "07b00c92-a43f-4453-8217-9542cc4c3d25",
            "name": "Switch1"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1648,
                384
            ],
            "id": "196dc46c-12b6-4dbe-9a5e-8008ff39e402",
            "name": "Respond to Webhook1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "bd2e61bc-7757-4b1f-8a39-30664fbebcda",
                            "name": "type",
                            "value": "action",
                            "type": "string"
                        },
                        {
                            "id": "3f301c91-b4e8-4828-be22-9b8a735a18ec",
                            "name": "content",
                            "value": "https://youtube.com",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1008,
                208
            ],
            "id": "7f19fae6-951f-479f-a053-7be619aa0792",
            "name": "Edit Fields3"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "49d1dc20-da1a-4db2-8fa9-685171ca9f52",
                            "name": "type",
                            "value": "={{ $json.type }}",
                            "type": "string"
                        },
                        {
                            "id": "849eba36-319a-4c2b-91b9-ad314e273eeb",
                            "name": "content",
                            "value": "={{ $json.content }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1024,
                464
            ],
            "id": "32f5a41f-8386-452d-a855-04fa3b2221fd",
            "name": "Edit Fields4"
        },
        {
            "parameters": {
                "jsCode": "// Get the text output from the AI Agent node directly.\n// This is the only line that needs to change.\nconst aiResponseText = $('AI Agent').item.json.output;\n\n// Create a default item to return\nconst returnItem = {\n  json: {}\n};\n\ntry {\n  // Try to parse the AI's response as JSON\n  const parsedData = JSON.parse(aiResponseText);\n\n  // If it's a valid JSON and the action is 'open_page'...\n  if (parsedData && parsedData.action === 'open_page') {\n    let url = '';\n    if (parsedData.project === 'Project-A') {\n      url = 'project-a.html';\n    } else if (parsedData.project === 'Project-B') {\n      url = 'https://coolify.io';\n    }\n    \n    if (url) {\n      returnItem.json.type = 'action';\n      returnItem.json.content = url;\n    } else {\n      returnItem.json.type = 'text';\n      returnItem.json.content = \"I found the project but the code was invalid.\";\n    }\n\n  } else {\n    // This could happen if the AI returns JSON but not the expected format\n    throw new Error(\"Not a valid action JSON.\");\n  }\n\n} catch (error) {\n  // If JSON.parse fails, it's a plain text conversation\n  returnItem.json.type = 'text';\n  returnItem.json.content = aiResponseText;\n}\n\n// ALWAYS return the final structured item\nreturn [returnItem];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                208,
                128
            ],
            "id": "e68108c0-872d-481d-84d8-a8a01af2187e",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "=10"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                112,
                432
            ],
            "id": "f61eebbd-a2ed-4fe7-a774-317c2ca325c0",
            "name": "Simple Memory"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields2": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch1": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Edit Fields3",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Edit Fields4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields3": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields4": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Switch1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.ai4eg.com",
                    "x-real-ip": "172.70.108.105",
                    "x-real-port": "12259",
                    "x-forwarded-for": "41.235.253.221, 172.70.108.105",
                    "remote-host": "172.70.108.105",
                    "connection": "upgrade",
                    "content-length": "15",
                    "priority": "u=1, i",
                    "sec-ch-ua-platform": "\"Windows\"",
                    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
                    "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
                    "content-type": "application/json",
                    "sec-ch-ua-mobile": "?0",
                    "accept": "*/*",
                    "origin": "http://localhost:8080",
                    "sec-fetch-site": "cross-site",
                    "sec-fetch-mode": "cors",
                    "sec-fetch-dest": "empty",
                    "referer": "http://localhost:8080/",
                    "accept-encoding": "gzip, br",
                    "accept-language": "en-US,en;q=0.9,ar;q=0.8,id;q=0.7",
                    "cf-ray": "9b56b95a3903e288-MRS",
                    "cdn-loop": "cloudflare; loops=1",
                    "cf-connecting-ip": "41.235.253.221",
                    "cf-ipcountry": "EG",
                    "cf-visitor": "{\"scheme\":\"https\"}",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {},
                "body": {
                    "message": "1"
                },
                "webhookUrl": "https://n8n.ai4eg.com/webhook/6e23aba0-815f-4909-8f46-1c6e19b15b57",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3ac052d630e7023479176857caf6e2546624f044ad0aa1615faaabfb909cb511"
    }
}